<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>State Space Search</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body class="container">
<h3>State Space Search</h3>
<p>State space search is a process used in the field of computer science, including artificial intelligence (AI), in which successive configurations or states of an instance are considered, with the intention of finding a goal state with a desired property.Problems are often modelled as a state space, a set of states that a problem can be in. The set of states forms a graph where two states are connected if there is an operation that can be performed to transform the first state into the second.State space search often differs from traditional computer science search methods because the state space is implicit: the typical state space graph is much too large to generate and store in memory. Instead, nodes are generated as they are explored, and typically discarded thereafter. A solution to a combinatorial search instance may consist of the goal state itself, or of a path from some initial state to the goal state.
</p>
<h6>Examples of State-space search algorithms</h6>
<p>Uninformed Search</p>
<ul><li><a href="https://en.wikipedia.org/wiki/Depth-first_search" title="DFS">Traditional depth-first search</a></li>
<li><a href="https://en.wikipedia.org/wiki/Breadth-first_search" title="BFS">Breadth-first search</a></li>
<li><a href="https://en.wikipedia.org/wiki/Iterative_deepening_depth-first_search" title="IDS">Iterative deepening</a></li>
<li><a href="https://en.wikipedia.org/?title=Uniform-cost_search&redirect=no" title="IDS">Uniform Cost Search</a></li></ul>
<p>Informed Search</p>
<li><a href="https://en.wikipedia.org/wiki/Best-first_search" title="Best-first search">Greedy best-first search</a></li>
<li><a href="https://en.wikipedia.org/wiki/A*_search" class="mw-redirect" title="A* search">A* search</a></li></ul>
<div class="col-md-6">
<strong><i>Let us try how it works!!!!</i></strong>
 <img src="{{ url_for('static', filename='problem.gif') }}" height="400px">
<label>Choose a Algorithm:</label>
</div>
 <form action="/stateSpaceSearch" method="post">
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="ucs" value="ucs" name="spaceSearchAlgo" >
    <label class="form-check-label" for="ucs">Uniform Cost Search</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="astar" value="astar" name="spaceSearchAlgo">
    <label class="form-check-label" for="astar">A* Search</label>
</div>
     <li><a href="{{ url_for('static', filename='input.txt') }}">Input file with Cost</a>&nbsp;&nbsp;&nbsp;<a href="{{ url_for('static', filename='heuristic_kassel.txt') }}">Heuristic File</a></li>

<div class="form-group">
  <label for="source">Source:</label>
  <input type="text" class="form-control" id="source" name="source" value="Kassel" readonly>
</div>
<div class="form-group">
  <label for="destination">Enter Destination:</label>
  <input type="text" class="form-control" id="destination" placeholder="eg:Bremen" name="destination" autocomplete="off" required>
</div>
     <br/>
     <input class="btn btn-primary col-md-3" type="submit" value="Test" id="test">
 </form>
</body>
</html>